h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
}
.container{width: 1158px;
     margin-left: auto;
     margin-right: auto;
padding-left: 15px; 
padding-right: 15px;
}
.header {border-bottom: 1px solid #e7e9fc}
.one{display: flex;
justify-content: space-between;
padding-top: 24px;padding-bottom: 24px;padding-left: 15px;
    padding-right: 15px; }
.navigathoin {display: flex;
gap: 76px;
align-items: center;}
.body {font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #FFFFFF;}
a {text-decoration: none;}
.company {font-family: 'Raleway',
        sans-serif;
    font-weight: 700;
    line-height: 1.17;
    font-size: 18px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px
}
    .web {color: #2e2f42;}
    .addres{font-style: normal}
.navigathoin-page{color: #2e2f42;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;list-style: none;
display: flex;gap: 40px;}
.menu {padding-top: 24px; padding-bottom: 24px; }
.active:active {text-decoration: underline;}
.addres-list{color: #434455;font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;list-style: none;
display: flex;gap: 40px;}
.two {gap: 48px;display: flex;
flex-direction: column; padding-top: 180px;padding-bottom: 180px;}

.sate{color: #2e2f42;}
.mail-phon{color: #434455;}
.sate:hover,.sate:focus,.mail-phon:focus,.mail-phon:hover{color: #404BBF;}
.hero-section {background-color:#2E2F42;margin-bottom: 60px;padding-top: 188px;padding-bottom: 188px;}
.hero {color: white;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    width: 100%;
    max-width: 496px;
    margin-left: auto;
    margin-right: auto;
}
.buton-order {color: #ffffff; text-shadow: 0px,4px,4px,#000000;cursor: pointer;font-size: 16px;
    line-height: 1.5;
    font-weight: 500;
background-color: #4D5AE5;
letter-spacing: 0.04em;max-width: 169px;
margin-right: auto;
margin-left: auto;
min-width: 169px;
height: 56px;
border: none;
border-radius: 4px;}
.buton-order:hover,.buton-order:focus{background-color: #404BBF;
    color: #ffffff;
    text-shadow: 0px, 4px, 4px, #000000;
    cursor: pointer;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 500;
}
.tre{margin-top: 60px;margin-bottom: 60px;padding-top: 120px; padding-bottom: 120px;}
.benefits-list{display: flex;
gap: 24px;
;}

.Company-benefits {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.benefits-list-name {width: calc((100% - 72px) / 4);}
.four{
    padding-top: 120px;
     padding-bottom: 120px;
    display: flex; gap: 72px;
flex-direction: column;}
.our-team{padding-left: auto;padding-right: auto;}
.our-team-list{display: flex;gap: 24px;}
.pepole {padding-top: 32px; padding-bottom: 32px;}
.five {
    display: flex;
    gap: 72px;
    flex-direction: column;
   ;
}
.project {margin-bottom: 72px;}
.project-section {
    margin-top: 60px;
    margin-bottom: 60px;
    padding-bottom: 120px;
    padding-top: 120px;
}
.project-list{display: flex;flex-wrap: wrap;gap: 24px;row-gap: 48px;}
.project-name{width: calc((100% - 48px) / 3);}
.app-name {padding: 32px 16px;
     border: 1px solid #e7e9fc;
     border-top: none;}
.team-section {background-color: #F4F4FD;margin-top: 60px;
    margin-bottom: 60px; padding-top: 120px; padding-bottom: 120px;}
.our-team-pepole{background-color: #FFFFFF; margin-bottom: 72px;width: calc((100%-72px)/ 4);border-radius: 0px 0px 4px 4px;
 }
.benefits-list, .our-team-list, .project-list {list-style-type: none;}
.our-team, .project {font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-transform: capitalize;
    text-align: center;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 72px;
}
.name-project, .name, .name-benefits {font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42; margin-bottom: 8px;
    text-align: center;
}
.about-benefits, .work, .type-project {
        color: #434455;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: center;
    }
.footer {background-color: #2E2F42;
    margin-top: 60px;
    padding-top: 100px;
padding-bottom: 100px;}
.six {padding-top: 100px;padding-bottom: 100px;gap: 16px;}
.company-footer{font-family: 'Raleway',
        sans-serif;
    font-weight: 700;
    line-height: 1.17;
    font-size: 18px;color: #4d5ae5; 
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 16px;
    display: inline-block;

}
.company-footer .web {color: #f4f4fd;}
.footer-text {color: #F4F4FD;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    width: 269px;
}